body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  color: #424242;
}
.content {
  display: flex;
  flex-wrap: wrap;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.caps {
  text-transform: uppercase;
}

.centered {
  text-align: center;
}

/*
 *
 * Header
 *
 */
 .header_container {
  min-height: 56px;
  transition: min-height 0.3s;
  overflow: auto;
  margin-top: 1em;
 }
 .headline_logo {
   height: 106px;
   margin-left: 1em;
   margin-right: 1em;
   margin-bottom: 0.75em;
   vertical-align: top;
 }
 .headlines {
   float: right;
   text-align: right;
   padding-right: 50px;
 }

.navbar {
  font-size: 18px;
}

.navbar-nav {
  padding-left: 1.5em;
}

.nav-item {
  padding-right: 1.5em;
}
 .main_head {
   font-size: 3.75em;
   font-weight: 400;
 }

 .sub_head {
   display: inline-block;
   font-size: 2em;
   font-weight: 400;
   margin-top: 0.25em;
 }

 .hor_line {
   color: #7d97ad;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 3px;
 }


/*
 *
 * Main
 *
 */


main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  background-color: #effbfb;
  margin-left: auto;
  margin-right: auto;
}

.eyecatcher {
  padding-left: 10%;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
}

#plane_img {
  order: 1;
  max-width: 40%;
  display: inline-block;
  float: left;
  padding-right: 2em;
}

.main_article {
  font-size: 16px;
  order: 2;
  max-width: 50%;
  display: inline-block;
}

.featured_hl {
  order: 3;
  font-size: 3em;
  padding-left: 10%;
  display: block;
  width: 100%;
  color: #7d97ad;
}

.featured {
  order: 4;
  vertical-align: top;
  max-width: 80%;
  margin: auto;
  display: flex;
 justify-content:space-between;
}

.church_sec {
  padding: 2em 0 2em 0;
  max-width: 30%;
}

.forest_sec {
  padding: 2em 0 2em 0;
  max-width: 30%;
}
.mountains_sec {
  padding: 2em 0 2em 0;
  max-width: 30%;
}

#church_img, #forest_img, #mountains_img {
  max-width: 100%;
  }

.app_name {
  padding-top: 0.2em;
  font-size: 2.7em;
  color: #2d3c49;
  font-weight: 400;
}
/*
 *
 * Footer
 *
 */

footer {
  order: 5;
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}
